{% extends 'base.html' %}

{% block content %}
    <h3 class="title is-4">User details</h3>

    {% if item %}
        <article class="panel is-primary">
          <p class="panel-heading">
              {{ item.name }}
          </p>

          <a class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-envelope" aria-hidden="true"></i>
            </span>
            Channel: <span class="tag is-link">{{ item.channel }}</span>
          </a>

          {% if item.channel == 'Email' %}
          <p class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-envelope" aria-hidden="true"></i>
            </span>
            Email: <a class="tag" href="mailto:{{ item.destination }}">{{ item.destination }}</a>
          </p>
          {% endif %}
        </article>
    {% endif %}
{% endblock %}

{% block custom_css %}
    <style>
    .tag {
        margin-left: 1em;
    }
    </style>
{% endblock %}