{% extends 'base.html' %}

{% block content %}
    <h3 class="title is-4">Group details</h3>

    {% if item %}
        <article class="panel is-primary">
          <p class="panel-heading">
              {{ item.name }}
          </p>

          <p class="panel-block">
            <span class="panel-icon">
              <i class="fas fa-users" aria-hidden="true"></i>
            </span>
            Includes:
              {% for member in item.config.members %}
                  <a class="is-link tag" href="/contacts/user/{{ member }}">{{ member }}</a>
              {% endfor %}
          </p>
        </article>
    {% endif %}
{% endblock %}

{% block custom_css %}
    <style>
    .tag.is-link {
        margin-left: 1em;
    }
    </style>
{% endblock %}